<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') -%>

    <body>
        <section class="section">
            <div class="columns is-centered has-text-centered">
                <div class="column is-8">
                    <div class="container is-centered has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-success is-light is-focused">
                                <p class="title is-size-2">
                                    <%= product.name %>
                                </p>
                                <p class="subtitle is-size-3 is-italic has-text-dark">Price: <%= product.price %>$</p>
                                <div class="is-size-3">
                                    Category:
                                    <%= product.category %>
                                </div>
                                <div class="mt-3">
                                    <a href="/products?category=<%= product.category %>">
                                        <button class="button is-focused is-rounded is-info is-light">See All
                                            Items in This Category</button>
                                    </a>
                                </div>
                                <form class="mt-5" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                                    <button class="button is-focused is-rounded is-danger is-light">Delete
                                        Product&nbsp;<%- include('../partials/delete_icon') -%></button>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="columns is-centered has-text-centered">
                <hr style="color: transparent;">
                <a href="/products">
                    <button class="button is-focused is-medium is-rounded is-success is-light">
                        Go Back to All Products
                    </button>
                </a>
            </div>
        </section>

        <script src="/reload/reload.js"></script>
    </body>

</html>